<div class='grid'>
  <% for item_category in @item_categories %>
    <%= render "as_grid_item", :object => item_category, :link => true %>
  <% end %>
</div>

<%= render "items/outstanding", :outstanding_items => @outstanding_items %>
