<div id="row">
	<ul class="thumbnails">
		<% Show.active.each do |s| %>
			<div class="span3">
				<div class="thumbnail">
					<%= image_tag s.image(:medium), size: '260x180'%>
					<div class="caption">
						<h5><%= s.name %></h5>
						<p>Call Time: 7:00PM today</p>
						<p>
							Tech Week
							<div class="progress progress-danger">
								<div class="bar" style="width:95%;"></div>
							</div>
							3 Days till Curtains Up
						</p>
						<p><%= link_to 'View', s, class: 'btn btn-primary' %></p>
					</div>
				</div>
			</div>
		<% end %>
	</ul>
</div>