<h1>Results for '<%= params[:q] %>'</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% unless @users.empty? %>
      <h2>Users</h2>
      <% @users.each do |result| %>
        <ul style="list-style-type: none;">
          <li><%= render 'users/user', user: result %></li>
        </ul>
      <% end %>
    <% end %>
    <% unless @shows.empty? %>
      <br />
      <h2>Shows</h2>
      <% @shows.each do |result| %>
        <ul style="list-style-type: none;">
          <li><%= render 'groups/group', group: result %></li>
        </ul>
      <% end %>
    <% end %>
    <% unless @groups.empty? %>
      <br />
      <h2>Groups</h2>
      <% @groups.each do |result| %>
        <ul style="list-style-type: none;">
          <li><%= render 'groups/group', group: result %></li>
        </ul>
      <% end %>
    <% end %>
  </div>
</div>
