<div class="row">
	<div class="span10 offset1">
		<div class="hero-unit">
			<h1>Scotch 'n' Soda Theatre</h1>
			<p>Carnegie Mellon's only student-run Theatre Group</p>
			<p><a class="btn btn-info btn-large">Learn More</a></p>
		</div>
	</div>
</div>
<div class="dashboard">
	<div class="dashboard-header">
		
	</div>
	<div class="dashboard-container">
		<div class='span4'>
				<h1>FAQ</h1>
				<p>
				<b>What is Scotch?</b><br>
				Scotch is Scotch'n'Soda Theatre's theatrical management solution.
				It provides Conflict-Aware Scheduling, Messaging, Inventory Tracking, and more!
				</p>
				<p>
				<b>Why should I create an account?</b><br>
				For current members and interested students alike, Scotch on the Web
				is the only place to sign up for auditions, and is the easiest way to
				keep in touch with the organization year-round.
				</p>
				<p>
				<b>Can I help develop Scotch on the Web?</b><br>
				Yes! This is a huge undertaking and a great opportunity to contribute to
				a complex and frequently-used project. Send an email to
				<%= mail_to current_webmaster.email, current_webmaster.name %> if you're interested
				in helping out. We'd love to have you on the team!
				</p>
				<p>
		</div>
		<div class='span7'>
				<h1>What's New in 3.0?</h1>
				
				<p>So get your Andrew ID in hand and
				<%= link_to "create an account", new_registration_path(resource_name) %>!</p>
				<div style='width:100%; text-align:center; margin-top:2em'>
				<%= link_to "Register", new_registration_path(resource_name), :class => "button" -%>
				<% if devise_mapping.confirmable?  -%>
				<br>
				<%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), 
				:class => "button", :style => "margin-right:5px;" %>
				<% end %>
		</div>
	</div>
</div>
