<div class="row position">
  <div class="col-md-1 col-md-offset-1">
    <%= link_to image_tag(group.image(:thumb)), group %>
  </div>
  <div class="col-md-4 position-group">
    <%= link_to group, group %>
  </div>
  <div class="col-md-6">
    <% positions.each do |p| %>
      <%= render_position(p) %>
    <% end %>
  </div>
</div>
