<% voting = object %>

<%= div_for voting, :class => 'line-item' do %>
  <%= link_to url_for(voting) do %>
    <h2><%= voting %></h2>
    <h3>
      <%= case
      when object.future?
        "Opens #{object.open_date}" 
      when object.open_for_nominations?
        "Nominations open until #{object.vote_date - 1.day} at midnight" 
      when object.open_for_votes?
        "Voting closes #{object.close_date - 1.day} at midnight" 
      when object.closed_for_votes?
        "Results available #{object.press_date - 1.day} at midnight" 
      when object.past?
        "Results posted #{object.press_date}" 
      end
    %>
    </h3>
  <% end %>
<% end %>
