<article>
<% if has_permission?("adminElection") %>
  <div class="edit_link"><%= link_to image_tag("add_icon.png", :size => "10x10")+' Create a new voting', new_group_voting_path(@group) %></div>
<% end %>

<h1>Elections and Awards</h1>
<% @votings.each do |e| %>
  <%= render "as_line_item", :object => e %><br>
<% end %>

</article>
