<div class="document clearfix">
	<div class="document-image">
		<%= link_to image_tag('folder-icon.png', size: '50x50'), folder %>
	</div>
	<h2 class="document-title"><%= link_to folder.name, folder %></h2>
</div>
