#addGoogleImg {
  height: 34px;
}
#calwrapper {
  position:relative;
}
#calside {
  width: 157px;
  height: 517px;
  border: 1px solid #ddd;
  margin-right: 1px;
}
#calside button {
  height: 16px;
  width: 16px;
  padding: 0 !important;
}
.groupButton {
  line-height: 16px;
  cursor: pointer;
  color: #ffffff;
  display: inline-block;
}
#calside [type='button'] {
  float:right;
}
.long {
  max-width: 125px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#calendar {
  max-width: 700px;
  float:left;
}
#newEventForm {
  width: 456px;
  overflow: hidden;
  position: relative;
}
.newEventForm_page {
  width: 456px;
  float: left;
  display: inline;
}
#pageContainer {
  position: relative;
  width: 912px;
}

.event_color_0 {background-color: #d96666; border-color: #cc3333;}
.event_color_1 {background-color: #e67399; border-color: #dd4477;}
.event_color_2 {background-color: #b373b3; border-color: #994499;}
.event_color_3 {background-color: #8c66d9; border-color: #6633cc;}
.event_color_4 {background-color: #668cb3; border-color: #336699;}
.event_color_5 {background-color: #668cd9; border-color: #3366cc;}
.event_color_6 {background-color: #59bfb3; border-color: #22aa99;}
.event_color_7 {background-color: #65ad89; border-color: #329262;}
.event_color_8 {background-color: #4cb052; border-color: #109618;}
.event_color_9 {background-color: #8cbf40; border-color: #66aa00;}
.event_color_10 {background-color: #bfbf4d; border-color: #aaaa11;}
.event_color_11 {background-color: #e0c240; border-color: #d6ae00;}
.event_color_12 {background-color: #f2a640; border-color: #ee8800;}
.event_color_13 {background-color: #e6804d; border-color: #dd5511;}
.event_color_14 {background-color: #be9494; border-color: #a87070;}
.event_color_15 {background-color: #a992a9; border-color: #8c6d8c;}
.event_color_16 {background-color: #8997a5; border-color: #627487;}
.event_color_17 {background-color: #94a2be; border-color: #7083a8;}
.event_color_18 {background-color: #85aaa5; border-color: #5c8d87;}
.event_color_19 {background-color: #a7a77d; border-color: #898951;}
.event_color_20 {background-color: #c4a883; border-color: #b08b59;}
.event_color_21 {background-color: #c7561e; border-color: #9f3501;}
.event_color_22 {background-color: #b5515d; border-color: #8a2d38;}
.event_color_23 {background-color: #c244ab; border-color: #962181;}
.event_color_24 {background-color: #603f99; border-color: #402175;}
.event_color_25 {background-color: #536ca6; border-color: #30487e;}
.event_color_26 {background-color: #3640ad; border-color: #182186;}
.event_color_27 {background-color: #3c995b; border-color: #1f753c;}
.event_color_28 {background-color: #5ca632; border-color: #3d8215;}
.event_color_29 {background-color: #7ec225; border-color: #5a9a08;}
.event_color_30 {background-color: #a7b828; border-color: #81910b;}
.event_color_31 {background-color: #cf9911; border-color: #9d7000;}
.event_color_32 {background-color: #d47f1e; border-color: #aa5a00;}
.event_color_33 {background-color: #b56414; border-color: #8d4500;}
.event_color_34 {background-color: #914d14; border-color: #743500;}
.event_color_35 {background-color: #ab2671; border-color: #870b50;}
.event_color_36 {background-color: #9643a5; border-color: #70237f;}
.event_color_37 {background-color: #4585a3; border-color: #25617d;}
.event_color_38 {background-color: #737373; border-color: #515151;}
.event_color_39 {background-color: #41a587; border-color: #227f63;}
.event_color_40 {background-color: #d1bc36; border-color: #a59114;}
.event_color_41 {background-color: #ad2d2d; border-color: #871111;}

.ui-datepicker button {
  min-width: inherit;
}
/* css for timepicker */
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%;
