/* 100 README
 Theme designed by Jasmine Friedrich in summer 2009,
 styled by Spencer Williams in summer 2010,
 for "Scotch on the Web" internal site
 and "Scotch'n'Soda Theater" internal site,
 Scotch'n'Soda Theatre, Carnegie Mellon University
 
 For further information, read the full guide available at
 http://dev.snstheatre.org/~jrfriedr/beta/2009%20Mock%20Ups/GtRfSotW.txt
 (as of 21 June 2010)
 
 LAYOUT OF THIS DOCUMENT
 100 readme
 200 color guide
 300 typeface guide
 400 styles
   410 resetting margins/paddings
   420 placing footer
   430 for other devices
   440 for convenience in views
   450 for views
   460 for layout
 */

/* 200 COLOR GUIDE   R    G    B
 * white:    #fff;  255, 255, 255
 * grey:     #ddd;  221, 221, 221
 * black:    #333;   51,  51,  51
 * ???:      #555;   85,  85,  85 for use next to #000 as a divider between footer and soda
 * ???:      #000;    0,   0,   0 see above
 *
 * beige:    #eeb;  238, 238, 187
 * dkorange: #f60;  255, 102,   0
 * ltorange: #f90;  255, 153,   0
 * dkteal:   #0dd;    0, 221, 221
 * ltteal:   #dff;  221, 255, 255
 */
 
/* 300 TYPEFACE GUIDE
 * Georgia,"Times New Roman",Times,serif
 *   for headers. no small-caps or decorations.
 *   appears at 26pt/normal in banner h1 and 17pt/normal in other h1
 * "Lucida Grande",Tahoma,Verdana,sans-serif;
 *   banner h2 (13pt/17pt), body and other h2 (9pt/normal), footer (7pt/normal).
 *   sometimes (nav and other explicit) bold and uppercase,
 *   otherwise bold or normal at regular capitalization.
 */
 
/* 400 STYLES */

/* 410
 * These styles are just a plain good idea to have on any website */
body {
  overflow-y: scroll
}
h1, h2, h3, h4, h5, h6, ul, body, li {
  margin: 0;
  padding: 0
}
a {
  text-decoration: none
}
ul {
  list-style: none;
}
/* HTML5 fix for STUPID firefox */
section, article, nav, aside, header, footer {
  display: block;
}


/* 420
 * These styles allow the footer to be placed at the bottom of content,
 * and if there's any gap between content and window bottom it'll hug
 * the window-bottom. rawr.
 * Make sure that #wrapper margin-bottom and #push height correspond to
 * the box height of the #sodabar + height of the body > footer
 */
html,
body {
  height: 100%
}
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%; /* IE */
  margin-bottom: -83px
}
#push {
  height: 83px
}


/* 430
 * These styles are for people who are using tiny browser windows or smartphones */
@media (max-width: 100px) {}
@media handheld {}


/* 440
 * These styles are here for convenience when writing views */
.hidden {
  display: none
}
.dkteal {
  color: #0dd
}
.fleft {
  float: left
}
.fright {
  float: right
}
/* the new clearfix method I read about over at Perishable Press
 * use it by putting "<div class='clearfix'></div>" after a floated element
 */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0
}
* html .clearfix { /* IE6 */
  zoom: 1
}
*:first-child+html .clearfix { /* IE7 */
  zoom: 1
}
/* box-shadow and rounded borders */
.shadow {
  -webkit-box-shadow: 0 5px 20px #333;  /* black */
  -moz-box-shadow: 0 5px 20px #333      /* black */
}
.topcorner {
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px
}
.bottomcorner {
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  -moz-border-radius-bottomright: 8px
}
.bottomleftcorner {
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomleft: 8px
}
.bottomrightcorner {
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-bottomright: 8px
}
/* use these classes on divs inside an article */
.thirds-split-left {
  /* wrap this around div.left-third and div.right-two-thirds and put a clearfix before the close */
  background: transparent url('/images/layout/thirds-border.png') repeat-y 303px top;
}
.left-third {
  float: left;
  display: inline-block;
  width: 283px;
}
.right-two-thirds {
  float: right;
  display: inline-block;
  width: 534px;
}
.thirds-split-right {
  /* wrap this around div.left-two-thirds and div.right-third and put a clearfix before the close */
  background: transparent url('/images/layout/thirds-border.png') repeat-y 554px top;
}
.left-two-thirds {
  float: left;
  display: inline-block;
  width: 534px;
}
.right-third {
  float: right;
  display: inline-block;
  width: 283px;
}
.thirds-split {
  /* wrap this around div.third + div.third + div.third and put a clearfix before the close */
  background: transparent url('/images/layout/two-thirds-borders.png') repeat-y 278px top;
}
.third {
  display: inline-block;
  width: 258px;
  float: left;
}
.third + .third {
  margin-left: 43px;
}
.halves-split {
  /* wrap this around div.half and put a clearfix before the close */
  background: transparent url('/images/layout/thirds-border.png') repeat-y 429px top;
}
.half {
  /* use with fleft or fright */
  display: inline-block;
  *display: inline; /* IE7 and below */
  width: 408px;
}


/* 450
 * These styles will affect the views. */
a {
  color: #f90;  /* ltorange */
  font-weight: bold
}
a:hover {
  color: #0DD  /* dkteal */
}
body {
  /* bg color is defined below as beige */
  color: #333;       /* black */
  font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
  font-size: 9pt
}
ul {
  padding-left: 1em;
  text-indent: -1em
}
ul li:before {
  content: "\00BB \0020";
  font-weight: bold;
  color: #0dd  /* dkteal */
}
ul li, ol li {
  margin: 1em inherit;
}
h1 {
  font: normal normal normal 17pt/17pt Georgia, "Times New Roman", Times, serif
}
h1 a {
  font-weight: normal
}
h2 {
  text-transform: uppercase;
  font-size: 10pt;
  letter-spacing: 2pt;
  line-height: 17pt
}
article {
  background: #fff;                     /* white */
  padding: 20px;
  margin-bottom: 35px;
  -webkit-box-shadow: 0 5px 20px #333;  /* black */
  -moz-box-shadow: 0 5px 20px #333;     /* black */
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px
}
.three-grid, .three-grid-no-link {
  display: inline-block;
  width: 234px;
  background: #fff;                     /* white */
  padding: 20px;
  margin-bottom: 35px;
  -webkit-box-shadow: 0 5px 20px #333;  /* black */
  -moz-box-shadow: 0 5px 20px #333;     /* black */
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  margin-right: 35px;
}
.three-grid:hover {
  background: #ddd;
}
.grid-last {
  margin-right: 0;
}
.three-grid a {
  color: #333;
}
input[type="text"], input[type="password"], input[type="email"], input[type="tel"], select {
  border: 1px solid #333;              /* black */
  color: #333;                         /* black */
  margin: 2px;
  font-weight: bold;
  padding: 5px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(255,255,255)),   /* white */
    color-stop(1, rgb(221,221,221)));  /* grey */
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(255,255,255) 0%,               /* white */
    rgb(221,221,221) 100%);            /* grey */
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
input[type="text"][disabled], input[type="password"][disabled], input[type="email"][disabled], input[type="tel"][disabled], select[disabled] {
  border: 1px solid #ddd;  /* grey */
}
input[type="submit"], input[type="reset"], a.button {
  display: inline-block;
  font-family: inherit;
  font-size: 12px;
  margin: 2px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background: #f90;  /* ltorange */
  color: #fff;       /* white */
  border: 0px;
  padding: 8px 0;
  width:220px;
  font-weight: bold;
  text-align: center;
}
input[type="submit"]:hover, input[type="reset"]:hover, a.button:hover {
  background: #0dd;  /* dkteal */
  cursor: pointer;
}
input[type="submit"][disabled], input[type="reset"][disabled]  {
  background: #ddd;  /* grey */
}
.field_with_errors {
  padding: 2px;
  border: 2px solid red;
  display: inline-block;
}
.field {
  min-height: 30px;
}
#errorExplanation {
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
}
.colorboxlink {
  font-size: 8pt;
}


/* 460
 * These styles define the layout (positioning, backgrounds etc)
 * and should not affect the views */
body {
  background: #eeb url("/images/layout/header.png") repeat-x scroll left top;  /* beige */
}

#logout {
  position: fixed;
  top: 0;
  right: 0;
}
#logout > li {
  display: inline;
  margin: 0 5px;
}
#logout > li:before {
  content: ""
}
#logout > li > a {
  color: #fff;  /* white */
  background: #333;  /* black */
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  -moz-border-radius-bottomright: 8px;
  padding: 3px 11px;
}

body > div > section {
  width: 900px;
  margin: 0 auto
}
#header {
  height: 80px
}
#header h1 a {
  font-size: 26pt;
  display: block;
  padding-top: 23px;
  color: #fff  /* white */
}
#header h1 a:hover {
  color: #fff  /* white */
}
#header h2 {
  font-size: 13pt
}
#nav {
  -webkit-box-shadow: 0 5px 20px #333;  /* black */
  -moz-box-shadow: 0 5px 20px #333;     /* black */
  background: #fff;                     /* white */
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  -moz-border-radius-bottomright: 8px;
  margin-bottom: 35px;
  text-transform: uppercase
}
#nav > ul {
  padding: 0;
  text-indent: 0
}
#nav > ul > li {
  position: relative;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  padding: 0 8px 8px
}
#nav > ul > li:before {
  content: ""
}
#nav > ul > li > a {
  display: inline-block;
  color: #333;  /* black */
  width: 93px;
  padding: 16px 0 6px;
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  -moz-border-radius-bottomright: 8px
}
.navselected, #nav > ul > li > a:hover {
  background: #ddd !important;  /* grey */
  color: #333 !important;       /* black */
}
#subnav {
  position: absolute;
  margin: 0 auto;
  width: 900px
}
  
#subnav > ul {
  padding: 0;
  text-indent: 0
}
#subnav > ul > li {
  display:inline-block;
  margin: 5px 4px;
  margin-left: 0
}
/* tricky way of having the first li have no left margin */
#subnav > ul > li + li {
  margin-left: 4px
}
#subnav > ul > li:before {
  content: ""
}
#subnav > ul > li > * {
  display:inline-block;
  background: #fff;                     /* white */
  color: #333;                          /* black */
  line-height: 9px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -webkit-box-shadow: 0 5px 20px #333;  /* black */
  -moz-box-shadow: 0 5px 20px #333;     /* black */
  padding: 8px 18px;
}
#subnav > ul > li > a:hover {
  color: #333;      /* black */
  background: #ddd  /* grey */
}
#loginerror {
  float: left;
  text-transform: none;
  padding: 8px;
  line-height: 23px;
}
#loginform {
  float: right;
  padding: 5px
}
#loginform input[type="submit"], #loginform a.button {
  padding: 5px 10px;
  width: auto;
  text-transform: none
}
#footer {
  height: 32px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 12px 0;
  font-size: 7pt;
  background-color: #333;  /* black */
  border: 1px solid #000;
  border-width: 0 0 1px;
  color: #fff;             /* white */
}
#sodabar {
  height: 16px;
  padding: 5px 4px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 15px;
  background-color: #333;  /* black */
  border: 1px solid #555;
  border-width: 1px 0 0;
  color: #fff              /* white */
}
#sodabar a {
  color: #fff  /* white */
}
.edit_link {
  float: right;
}
