<% notifications.recent.each do |n| %>
	<li><%= link_to n.subject do %>
			<% unless n.read %>
				<div class="blue-dot"></div>
			<% end %>
			<%= n.text.html_safe %>
		<% end %></li>
<% end %>
<% if notifications.empty? %>
	<center><p>No Notifications</p></center>
<% end %>
<li class="divider"></li>
<li><%= link_to 'See All', notifications_path %></li>