<h2>Archive Group</h2>
<%= form_tag archive_group_path(@group) do %>
  <div class="actions">
    <%= submit_tag "Archive Group", :confirm => "Are you sure you want to archive this group? This cannot be undone!" %>
  </div>
<% end %>
