<div class="span6">
	<table class="table table-condensed">
		<tr>
			<td><strong>Abbreviation</strong></td>
			<td><%= @group.short_name %></td>
		</tr>
		<tr>
			<td><strong>Script</strong></td>
			<td><a href="#">Available</a></td>
		</tr>
		<tr>
			<td><strong>Slot</strong></td>
			<td>Halloween 2012</td>
		</tr>
		<tr>
			<td><strong>Performances</strong></td>
			<td>October 29 @ 8:00pm</td>
		</tr>
		<tr>
			<td><strong>Prices</strong></td>
			<td>$2/$5</td>
		</tr>
		<tr>
			<td><strong>Location</strong></td>
			<td>McConomy</td>
		</tr>
	</table>
</div>
<div class="span6">
	<table class="table table-condensed">
		<tr>
			<td><strong>Cast Size</strong></td>
			<td><%= @group.positions.includes(:role).where("roles.name = 'Cast'").count %></td>
		</tr>
		<tr>
			<td><strong>Crew Size</strong></td>
			<td><%= @group.positions.includes(:role).where("roles.name = 'Crew'").count %></td>
		</tr>
		<tr>
			<td><strong>Tech Interest</strong></td>
			<td>September 9 @ 5:00pm PH220</td>
		</tr>
		<tr>
			<td><strong>Tech Week</strong></td>
			<td>October 25-30</td>
		</tr>
		<tr>
			<td><strong>Show Budget</strong></td>
			<td>$16,000</td>
		</tr>
		<tr>
			<td><strong>Tickets Available</strong></td>
			<td>300</td>
		</tr>
	</table>
</div>