<% if has_permission? "adminGroup" %>
  <div class="edit_link"><%= link_to image_tag("edit_icon.png", :size => "10x10")+'Edit', edit_group_path(@group) %></div>
<% end %>
<h1><%= @group %></h1>
<% if @group.parent %><p style="font-size: 8px;">Child of <%= @group.parent %></p><% end %>

<p>
<%= raw textilize(@group.description) %>
</p>
