<div class="span3">
	<div class="row">
		<div class="span1">
			<p><strong>Abbreviation</strong></p>
			<p><strong>Script</strong></p>
			<p><strong>Slot</strong></p>
			<p><strong>Performances</strong></p>
			<p><strong>Prices</strong></p>
			<p><strong>Location</strong></p>
		</div>
		<div class="span2">
			<p><%= @group.short_name %></p>
			<p><a href="#">Available</a></p>
			<p>Halloween 2012</p>
			<p>October 29 @ 8:00pm</p>
			<p>$2/$5</p>
			<p>McConomy</p>
		</div>
	</div>
</div>
<div class="span5">
	<div class="row">
		<div class="span2">
			<p><strong>Cast Size</strong></p>
			<p><strong>Crew Size</strong></p>
			<p><strong>Tech Interest</strong></p>
			<p><strong>Tech Week</strong></p>
			<p><strong>Strike</strong></p>
			<p><strong>Show Budget</strong></p>
			<p><strong>Tickets Available</strong></p>
		</div>
		<div class="span3">
			<p><%= @group.positions.includes(:role).where("roles.name = 'Cast'").count %></p>
			<p><%= @group.positions.includes(:role).where("roles.name = 'Crew'").count %></p>
			<p>September 9 @ 5:00pm PH220</p>
			<p>October 25-30</p>
			<p>October 31</p>
			<p>$16,000</p>
			<p>300</p>
		</div>
	</div>
</div>