<article>
<div class='halves-split'>
  <div class='half fleft'>
    <h1>New Users</h1>
    <br>
    <% for user in @new_users %>
      <%= render "as_line_item", :object => user %>
    <% end %>
  </div>
  <div class='half fright'>
    <h1>Most Watched Users</h1>
    <br>
    <% for user in @most_watched_users %>
      <%= render "as_line_item", :object => user %>
    <% end %>
  </div>
  <div class="clearfix"></div>
</div>
</article>
