<h1>Listing users</h1>

<% @users.each do |user| %>
  <div class="user">
    <%= link_to user, user %>
    &lt;<%= user.email %>&gt;
  </div>
<% end %>

<br>

<%= link_to 'New User', new_user_path %>
