<div class="feedpost">
  <h2><%= link_to post.headline, post %></h2>
  <blockquote>
    <%= raw textilize post.body %>
  <small>Posted by <%= link_to post.user, post.user %> on <%= format_date post.created_at %></small>
</div>
