<%

  #FIXME XSS LURKS HERE

#defaults
object = object
href = url_for(object) unless object.nil? or href
link = link
image = image
h1 = "#{object.to_s}" unless h1

#structure
spanclass = 'three-grid-no-link'
spanclass = 'three-grid' if link
grid = "<h1>#{h1}</h1><h2>#{h2}</h2>#{p}"
if image
  grid = "<span class='fleft'>#{raw(image)}</span><span class='fleft'>#{raw(grid)}</span>"
end
grid = "<span class='#{spanclass}'>#{raw(grid)}</span>"
href = url_for(object) unless href
%>

<% if link %>
  <%= link_to raw(grid), href %>
<% else %>
  <span><%= raw(grid) %></span>
<% end %>
