<%

  #FIXME XSS LURKS HERE!!!!

#defaults
object = object
href = url_for(object) unless object.nil? or href
link = link
image = image
line_1 = "#{object.to_s}" unless line_1
line_2 = line_2

#structure
line = "<h2>#{line_1}</h2>#{line_2}"
href = url_for(object) unless href
if image
  if link
    image = "#{link_to raw(image), href}"
  end
  image = "<div class='fleft'>#{image}</div>"
end
if link
  line = link_to raw(line), href
end
line = "<div class='inline'>#{line}</div>"
line = "<div class='line-item'>#{image}#{line}<div class='clearfix'></div></div>"
%>

<%= raw(line) %>
