<div id="follow" style="position: relative">
  <%= link_to(new_watcher_path(:item_type => object.class, :item_id => object.id), :style => "display: block; height 98px; padding: 3px 3px 3px 3px; position: absolute; top: 20px; width:75px; right: -20px; z-index: 1000; background-color: #BEB; text-align: right; font-size: 10px") do %>
    <%= image_tag("add_icon.png", :size => "8x8") %>
    Follow Me!
  <% end %>
  </a>
</div>
