<article>
<% if has_permission? "adminEvents" %>
  <div class="edit_link"><%= link_to image_tag("add_icon.png", :size => "10x10")+' Create a New Event', new_group_event_path(@group) %></div>
<% end %>
<h1>Listing events</h1>

<h2>Future Events</h2>
<%= render :partial => 'list', :locals => {:events => @events} %>
<h2>Past Events</h2>
<%= render :partial => 'list', :locals => {:events => @past_events} %>
</article>
