<div class="row">
  <div class="col-md-12">
    <%= link_to 'Create Event', new_group_event_path(@group), class: 'btn btn-primary' %>
  </div>
</div>
<br /><br />
<div class="row">
  <div class="col-md-12">
    <div class="events-calendar" data-url="<%= group_events_path(@group, :json) %>"></div>
  </div>
</div>

