<h1>Listing events</h1>

<%= render :partial => 'list', :locals => {:events => @events} %>
<h2>Past Events</h2>
<%= render :partial => 'list', :locals => {:events => @past_events} %>

<br />

<% if has_permission? "adminEvents" %>
  <%= link_to 'New Event', new_group_event_path(@group) %>
<% end %>
