.group-block
{
  img
  {
    margin-right: 10px;
  }
}
.nomination
{
  margin-left: 5px;
  margin-top: 5px;

  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #DBDBDB;
}

.group-nav
{
  margin-top: 10px;
  margin-bottom: 10px;
}

.position
{
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom-style: dashed;
  border-bottom-color: #EFEFEF;
  border-bottom-width: 1px;
}

.positions .position:last-child
{
  border-bottom: 0;
}

.position-group
{
  font-size: 24px;
}

.position-cast
{
  font-style: italic;
}

.position-techhead, .position-productionstaff
{
  font-weight: bold;
}

