.group-edit-link
{
	margin-left:10px;
}

.groups-container
{
	padding:5px;
	
	.group-item
	{
		margin-bottom:10px;
	}
	
	.group-title
	{
		
	}
	
	.group-image
	{
		float:left;
		clear:left;
	}
	
	.group-status
	{
		
	}
	
	.group-description
	{
		
	}
}

.nomination
{
}

.nomination
{
  margin-left: 5px;
  margin-top: 5px;

  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #DBDBDB;
}
