.group-block
{
  img
  {
    margin-right: 10px;
  }
}
.nomination
{
  margin-left: 5px;
  margin-top: 5px;

  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #DBDBDB;
}

.group-nav
{
  margin-top: 10px;
  margin-bottom: 10px;
}
