<div class="span12">
  <div class="current-season">
    <ul class="season-container clearfix">
      <% season.each do |s| %>
        <li>
          <%= image_tag s.image(:medium) %>
        </li>
      <% end %>
    </ul>
  </div>
  <h2 class="season-label">Current Season</h2>
</div>
