<section class="current-season">
  <h2 class="title">Season in Review</h2>
  <div class="container">
    <% season.each do |s| %>
      <%= render 'groups/public_card', show: s %>
    <% end %>
  </div>
</div>
