<div class="footer">
  <div class="content">
    <div class="board-list">
      <ul class="unstyled">
        <h4>Board of Directors</h4>
        <li>Will Weiner (President)</li>
        <li>Brad Sherburne (Vice President)</li>
        <li>Olivia O'Connor (Artistic Director)</li>
        <li>Carlos Diaz-Padron (Managing Director)</li>
        <li>Larissa Jantonio (Public Relations Coordinator)</li>
        <li>Corinne Rockoff (General Membership Coordinator)</li>
        <li>Eleanor Lewis (Secretary)</li>
        <li>Evan Starkweather (Executive Board Member)</li>
      </ul>
    </div>
    <div class="contact-list">
      <h4>Contact Us</h4>
      <p><%= mail_to 'board@snstheatre.org' %></p>
      <p class="mail-address">
      <p>Scotch'n'Soda Theatre</p>
      <p>5000 Forbes Avenue</p>
      <p>UC Suite 103 Box #57</p>
      <p>Pittsburgh, PA 15213</p>
      </p>
    </div>
  </div>
</div>
