<div class="footer">
  <div class="row">
    <div class="col-md-5 col-sm-5 col-xs-7 board-list">
      <h4>Board of Directors</h4>
      <ul class="list-unstyled">
        <li>Evan Starkweather (President)</li>
        <li>Zachary Stuckelman (Vice President)</li>
        <li>James Alexander (Artistic Director)</li>
        <li>Carlos Diaz-Padron (Managing Director)</li>
        <li>Grace Lazos (Secretary)</li>
        <li>Abigail Frankola (Public Relations Coordinator)</li>
        <li>Alex Petti (Technical Coordinator)</li>
        <li>Taylor Rawley (General Membership Coordinator)</li>
        <li>Bradley Plaxen (Executive Board Member)</li>
      </ul>
    </div>
    <div class="col-md-3 col-xs-4 col-xs-offset-4 col-sm-3 col-sm-offset-4 col-lg-offset-4 contact-list">
      <h4>Contact Us</h4>
      <p><%= mail_to 'board@snstheatre.org' %></p>
      <address>
        <strong>Scotch'n'Soda Theatre</strong><br>
        5000 Forbes Avenue<br>
        UC Suite 103 Box #57<br>
        Pittsburgh, PA 15213
      </address>
    </div>
  </div>
</div>
