<div class="footer">
  <div class="container clear-top">
    <div class="content">
      <div class="row">
        <div class="span4">
          <ul class="unstyled">
            <h4>Board of Directors</h4>
            <li>Will Weiner (President)</li>
            <li>Brad Sherburne (Vice President)</li>
            <li>Olivia O'Connor (Artistic Director)</li>
            <li>Carlos Diaz-Padron (Managing Director)</li>
            <li>Larissa Jantonio (Public Relations Coordinator)</li>
            <li>Corinne Rockoff (General Membership Coordinator)</li>
            <li>Eleanor Lewis (Secretary)</li>
            <li>Evan Starkweather (Executive Board Member)</li>
          </ul>
        </div>
        <div class="span3">
          <h4>Contact Us</h4>
          <p><%= mail_to 'board@snstheatre.org' %></p>
          <p class="mail-address">
          <p>Scotch'n'Soda Theatre</p>
          <p>5000 Forbes Avenue</p>
          <p>UC Suite 103 Box #57</p>
          <p>Pittsburgh, PA 15213</p>
          </p>
        </div>
        <div class="span4">
          <h4>Website Inquiries</h4>
          <p><%= mail_to 'webmaster@snstheatre.org' %></p>
        </div>
      </div>
    </div>
  </div>
</div>
