<h1><%= image_tag('mickmike-festive.png') %> 75 Years of Theatre</h1>
<div id="timeline-embed"></div>
<section class="anniversary-story">
  <h2>Contribute to our Story</h2>
  <p>Have another story about Scotch'n'Soda you would like us to add? Just send it in to <%= mail_to 'story@snstheatre.org' %> and our historian will add it to the timeline.</p>
</section>

<%= content_for(:javascripts) do %>
  <script type="text/javascript">
    $(document).ready(function() {
        createStoryJS({
            type:       'timeline',
            height:     '600',
            source:     'https://docs.google.com/spreadsheet/pub?key=0AoJqSnjj-FFLdElMMVJKU1U4d20zdVA2cS1penNIUEE&output=html',
            start_zoom_adjust: -1,
            embed_id:   'timeline-embed'
          });
        })
  </script>
<% end %>
