<div class="row">
  <% if @show %>
    <%= render 'pages/active_show', group: @show %>
  <% elsif !@season.empty? %>
    <%= render 'pages/current_season', season: @season %>
  <% else %>
  <% end %>
</div>
