<div class="show-seasons">
  <% @seasons.each do |year, shows| %>
    <section class="show-season">
      <h2 class="title"><%= "#{year - 1} - #{year}" %></h1>
      <div class="container">
        <% shows.each do |s| %>
          <%= render 'groups/public_card', show: s %>
        <% end %>
      </div>
    </section>
  <% end %>
</div>
