<article>
<h1>New document</h1>

<%= render 'form' %>

<% if has_permission? "uploadDocument" %>
  <%= link_to 'Destroy', @document, :confirm => 'Are you sure?', :method => :delete %>
<% end %>
</article>
