<p class="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @role_permission.name %>
</p>


<%= link_to 'Edit', edit_role_permission_path(@role_permission) %> |
<%= link_to 'Back', role_permissions_path %>
