<%
#defaults
object = object
image = image

#model-specific
link = url_for(object) unless link
line_1 = "#{object.to_s}" unless line_1
line_2 = "<h3>#{object.location}</h3>" unless line_2
href = url_for(object) unless href
%>

<%= render "shared/as_line_item", :link => link, :href => href, :line_1 => line_1, :line_2 => line_2, :image => image %>
