<div class='left-third'>
  <h1>Inventory Functions</h1>
  <h2>Search the Inventory</h2>
  <%= render "search_form" %>
  <h2>Browse the Inventory</h2>
  <%= render "browse_form" %>
  <h2>Return checked-out items</h2>
  if the user has checked-out items
  <h2>Add items to inventory</h2>
  if the user has add privileges
</div>
