<h1>Inventory Policies</h1>
<p>The following rules apply to all checkouts of Scotch'n'Soda property.</p>
<ul>
  <li>No Scotch'n'Soda property will be taken without checking it out.</li>
  <li>A checkout for personal use can be approved by the Board of the Dungeon Master.</li>
  <li>All borrowed items must be returned by the due date.</li>
  <li>Items may not be checked out for personal use when needed for a show.</li>
  <li>No one person may check out more than five (5) items at a time for personal use. Stuff to make the thing overflow and go to the next line with the proper indentation.</li>
</ul>
<p>If you have any questions about the inventory or checking out items, contact Daniel</p>
