<article>
  <h1>Listing watchers</h1>

  <table>
    <tr>
      <th>User</th>
      <th>Item</th>
      <th></th>
    </tr>

  <% @watchers.each do |watcher| %>
    <tr>
      <td><%= link_to watcher.user, watcher.user %></td>
      <td><%= link_to watcher.item, watcher.item %></td>
      <td><%= link_to 'Destroy', watcher, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </table>
</article>
