<p>
  <b>Name:</b>
  <%= @message_list.name %>
</p>

<p>
  <b>Recipients:</b>
  <ul class="unstyled">
    <% @message_list.recipients.each do |r| %>
      <li><%= r.name %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_message_list_path(@message_list) %> |
<%= link_to 'Back', group_message_lists_path(@group) %>
