<%
#defaults
object = object
href = href
h2 = h2
link = link
image = image

string = ""
if object.nominees.count > 2
  object.nominees.count-2.times do |i|
    string += "#{object.nominees[i].to_s}, "
  end
end
string += object.nominees.last.to_s
if object.nominees.count > 1
  string += "and #{object.nominees[object.nominees.count-2].to_s}"
end
h1 = string
h2 = object.tagline
accepted = ""
accepted = "Accepted" if object.accepted
accepted = "Rejected" unless object.accepted.nil? or object.accepted

# set up links
vote_link = ""
vote_link = "second" if object.race.voting.open_for_nominations?
vote_link = "vote" if object.race.voting.open_for_votes?
#TODO and if current_user has privs to vote
#ASK  and if ?

accept_link = ""
accepted = object.accepted===true
rejected = object.accepted===false
accept_link = "accepted" if accepted
accept_link = "rejected" if rejected
accept_link = "#{accept_link}accept" unless accepted
accept_link = "#{accept_link}reject" unless rejected

#TODO truncate this
platform = object.platform or ""

p = raw "#{platform}<div class='width:100%'><span class='fright'>#{vote_link}</span><span class='fleft'>#{accept_link}</span><div class='clearfix'></div></div>"

%>
<%= render "shared/as_grid_item", :link => false, :h1 => h1, :h2 => h2, :p => p, :image => image %>