/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require bootstrap_and_overrides
 *= require shared
 *= require_tree ./main
*/

body
{
	background-image: url(image-path('bg-solid.png'));
	background-repeat:repeat;
}

.page
{
	display:block;
	background-color:white;
	border-radius:30px;
	-webkit-box-shadow: 3px 3px 6px 2px #C5C5C5;
	-moz-box-shadow: 3px 3px 6px 2px #C5C5C5;
	box-shadow: 3px 3px 6px 2px #C5C5C5;
	padding:10px;
	margin-bottom:10px;
}

.hero-unit
{
	background-image: url(image-path('bg-orange.png'));
	border-color:white;
	border-width:2px;
	border-style:double;
	color:#ECECEC;
}

textarea
{
  resize: none;
}

.checkmark img
{
  height: 50px;
  width: 50px;
}

.notvoted img
{
  opacity: 0.3;
}
