.document
{
	.document-image
	{
		float:left;
		clear:left;
	}
	
	.document-title
	{
		padding-top:5px;
	}
	
	.document-desc
	{
		
	}
}

.crumbs
{
	max-width:650px;
}

.folder_select
{
	max-width:300px;
	margin-top:5px;
	margin-bottom:5px;
	
	#tree
	{
		margin-top:3px;
		padding-top:3px;
		padding-bottom:3px;
	}
}