.group-edit-link
{
	margin-left:10px;
}

.groups-container
{
	padding:5px;
	
	.group-item
	{
		margin-bottom:10px;
	}
	
	.group-title
	{
		
	}
	
	.group-image
	{
		float:left;
		clear:left;
	}
	
	.group-status
	{
		
	}
	
	.group-description
	{
		
	}
}