.thread-container
{
	.thread
	{
		border-bottom-style:inset;
		border-bottom-width:1px;
		border-bottom-color:#D9D9D9;
		
		.thread-subject
		{
			font-size:35px;
			margin-bottom:10px;
			padding-top:10px;
			padding-left:5px;
			
			a
			{
				color:black;
			}
			
			a:hover
			{
				text-decoration:none;
			}
		}
		
		.thread-recent-sender
		{
			font-size:18px;
			margin-bottom:5px;
			margin-left:10px;
		}
		
		.thread-recent-message
		{
			color:#9F9F9F;
			margin-bottom:15px;
			margin-left:20px;
		}
		
		.thread-recent-time
		{
			float:right;
			color:#A7A7A7;
		}
		
		.thread-buttons
		{
			float:right;
		}
	}
	.thread-clear
	{
		clear:both;
	}
}

.thread-title
{
	border-bottom-style:dotted;
	border-bottom-color:#B0B0B0;
	border-bottom-width:1px;
	margin-bottom:20px;
	max-width:200px;
}

.message-container
{
	height:420px;
	overflow:scroll;
	.message
	{
		margin-bottom:10px;
		
		.message-sender-headshot
		{
			float:left;
			clear:left;
		}
		
		.message-sender
		{
			font-style:bold;
			font-size:16px;
			padding-top:8px;
			margin-bottom:10px;
		}
		
		.message-text
		{
			margin-left:50px;
			margin-right:50px;
		}
		
		.message-time
		{
			float:right;
		}
	}
}

.member-list
{
	max-height:300px;
	overflow:scroll;
}

.message-form
{
	border-top-style:double;
	border-top-color:#EBEBEB;
	border-top-width:1px;
	padding-top:10px;
}

.message-submit
{
	
}

.message-textarea
{
	overflow:hidden;
	height:auto;
	max-width:400px;
}