/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap_and_overrides
 *= require_self
 *= require shared
*/

body
{
  padding-top: 37px;
  background: url(asset-path('grey.png', image));
}

abbr[title]
{
  border-bottom-style: none;
}

.sns-nav
{
  height: 30px;
  list-style: none;
  padding-top: 1px;
  padding-bottom: 5px;

  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0,0,0,0.08);

  background-color: white;
  
  img
  {
    height: 100%;
    float:left;
  }

  ul
  {
    position: relative;
    display: block;
    float: left;
    margin-top: 8px;
  }

  li
  {
    display: block;
    float: left;

    a
    {
      float: none;
      padding: 9px 10px 11px;
      color: rgba(0,0,0,0.41);
      text-decoration: none;
      font-size: 16px;
      text-transform: uppercase;
    }

    a:hover
    {
      background-color: #FF9500;
      color: white;
    }

    a.active
    {
      background-color: #FF9500;
      color: white;
    }
  }
}

.main-banner
{
  width: 300px;
  height: 300px;
}

#main-carousel .carousel-inner
{
  height: 300px;
}

.hero
{
  background: url(asset-path('debut_dark.png', image));
  min-height: 300px;
}

.production-info
{
  margin-top: 10px;
  width: 100%;
  height: 250px;
  background-color: #FFFFFF;
  color: #383838;
  border-style: solid;
  border-color: #D6D6D6;
  border-width: 1px;
  -webkit-box-shadow:  2px 2px 4px 2px rgba(0, 0, 0, .05);
  box-shadow:  2px 2px 4px 2px rgba(0, 0, 0, .05);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: 'Tauri', sans-serif;

  padding: 10px 10px 10px 10px;

  .title
  {
    margin-bottom: 10px;
    color: #383838;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-color: #DEDEDE;
    border-bottom-width: 1px;
    text-transform: uppercase;
  }

  .directors
  {
    text-align: center;

    span
    {
      font-weight: bold;
    }

    margin-bottom: 10px;
    text-transform: uppercase;
  }

  .description
  {
    color: #969696;
    max-height: 100px;
    overflow: scroll;
  }

  .coming-soon
  {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
  }
}

.ticket-form
{
  margin-top: 10px;
  width: 100%;
  height: 250px;
  background-color: #FFFFFF;
  color: #383838;
  font-family: 'Tauri', sans-serif;
  border-style: solid;
  border-color: #D6D6D6;
  border-width: 1px;
  -webkit-box-shadow:  2px 2px 4px 2px rgba(0, 0, 0, .05);
  box-shadow:  2px 2px 4px 2px rgba(0, 0, 0, .05);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;

  form
  {
    float: left;
  }
}

.ticket-info
{
  width: 150px;
  float:right;

  h5
  {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .total
  {
    font-size: 18px;
  }

  ul
  {
    list-style-type: none;
    margin-left: 0;

    li
    {
      color: #969696;
    }
  }
}

.current-season
{
  width: 100%;
  height: 250px;
  background-color: #9C9C9C;
  padding-bottom: 0;

  -webkit-border-top-right-radius: 10px;
  -moz-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-top-left-radius: 10px;
  border-top-left-radius: 10px;

  .season-container
  {
    list-style-type: none;
    margin-top: 20px;
    margin-left: 35px;
  }

  img
  {
    width: 200px;
    height: 200px;
  }

  li
  {
    display: block;
    float: left;
    padding: 10px 10px 10px 10px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.season-label
{
  clear: left;
  text-align: center;
  width: 100%;
  background-color: #212121;
  color: #737373;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.page-content
{

}

.page-section
{
  margin-top: 20px;
  width: 100%;
  background-color: #FFFFFF;
  color: #383838;
  border-style: solid;
  border-color: #D6D6D6;
  border-width: 1px;
  -webkit-box-shadow:  2px 2px 4px 2px rgba(0, 0, 0, .05);
  box-shadow:  2px 2px 4px 2px rgba(0, 0, 0, .05);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  font-family: 'Tauri', sans-serif;

  p
  {
    font-size: 14px;
    text-indent: 30px;
  }
}

.page-title
{
  margin-bottom: 10px;
  color: #383838;
  text-align: center;
  border-bottom-style: solid;
  border-bottom-color: #DEDEDE;
  border-bottom-width: 1px;
  text-transform: uppercase;
}

.footer
{
  background: url(asset-path('subtle_carbon.png', image));
  min-height: 100px;
  width: 100%;
  color: #FF9500;

  .mail-address
  {
    p
    {
      text-align: center;
    }
  }
}
