// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.complete
{
  background-color:#1EFF00;
}

.inprogress
{
  background-color:#45FFF3;
}

.notstarted
{
  background-color:#FFB5B5;
}
