<h1>Select Template</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

  <% @report_templates.each do |t| %>
    <tr>
      <td><%= link_to t.name, new_group_report_url(@group, template: t.id) %></td>
      <td><%= t.description %></td>
    </tr>
  <% end %>
</table>
