<aside>
  <ul>
    <li><a href='#'><h2>Admin Menu</h2></a></li>
    <li><a href='#'>Create Board</a></li>
    <li><a href='#'>Create Group</a></li>
    <li><a href='#'>Create Show</a></li>
    <li><a href='#'>Manage Help Items</a></li>
    <li><a href='#'>Manage Forum</a></li>
  </ul>
</aside>
