<div style='position:fixed;top:0;left:0'>
  <a id='debugTrigger' href='#' style="color:#fff">Show Debug</a>
  <script>$(document).ready(function(){$("#debugTrigger").colorbox({href:"#debug",inline:true,width:"50%",maxHeight:"99%",transition:"none",opacity:0.25})})</script>
  <div class='hidden'>
    <div id='debug'>
      <h1>Debug</h1>
      <h2>Params</h2>
      <%= debug params %>
      <h2>Current User</h2>
      <%= debug current_user %>
    </div>
  </div>
</div>
